body{
    background-color: #cdc4c8;
}

.content{
   padding: 80px;
}
form{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

input{
    margin: 10px;
}

button{
    color: darkslateblue;
    background-color: darkgoldenrod;
    border-radius: 10%;
}
h1{
    color: darkslateblue;
}
h3{
    color:deeppink;
}
h4{
    color:indigo;
}

p{
    color: darkgoldenrod;
}



