body{
    background-image: url(./images/bg.jpg);
    background-size: cover;
    font-family: sans-serif;
    color: #444;
    letter-spacing: 1px;
}

h1,
h2 {
    font-weight: normal;
}

#wrapper{
    background-color: rgb(96,79,205) ;
    width: 90%;
    max-width: 960px;
    border-radius: 6px;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;

   
}
/* .title{
    color: #fff;
} */
#page-banner{
    background-image: url(./images/screen.jpg);
    background-size: 100%;
    align-items: center;
    padding-top: 10px;
}

#page-banner h1,
#page-banner p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
#movie-list,
#add-movie{
    margin: 30px;
color:lavender
}
#movie-list h2{
    text-align: center;
}


#movie-list ul{
    list-style: none;
    padding: 0;
}

#movie-list li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
}
#movie-list li:hover{
    border-color: rgb(58,176,158);
}
.delete{
    float: right;
    background: red;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}
.delete:hover {
    background: maroon;
}
#add-movie {
    width: 400px;
    margin:0 auto;
}
#add-movie input{
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    width: 300px;
    float: left;
    clear: both;
}

#add-movie button {
    border: 1px solid green;
    background: green;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 100px;
    float: left;
    margin: 20px 0;
    border-left: 0;
    color: whitesmoke;

}
#add-movie button:hover{
    background: green;
}
#add-movie:after {
    content: '';
    display:block;
    clear:both;
}
#add-movie label {
    line-height: 52px
}
/* .content{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
h1{
    color: darkslateblue;
}
h3{
    color:deeppink;
}
h4{
    color:indigo;
}

p{
    color: darkgoldenrod;
} */



