body{
    background-color: #cdc4c8;
}

.content{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
h1{
    color: darkslateblue;
}
h3{
    color:deeppink;
}
h4{
    color:indigo;
}

p{
    color: darkgoldenrod;
}



