body{
    background-color: #cdc4c8;
}

.content{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
h1{
    color: darkslateblue;
}
h3{
    color:deeppink;
}

p{
    color: darkgoldenrod;
}

button{
    border-radius: 25px;
    border: 1px solid white;
    padding: 20px;
    width: 100px;
    height: 15px;
    overflow:hidden;
    background-color: dodgerblue;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.5);
}